* {
  box-sizing: border-box
}

h1,
p,
form {
  font-family: Josefin Sans, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  text-align: center;
  height: 800px;
  max-width: 375px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 244, 244));
  box-shadow: 10px 15px 30px rgba(133, 161, 210, 50%);
}

.mobile-header {
  display: flex;
}

.mobile-logo {
  width: 100px;
  height: 20.89px;
  align-self: flex-start;
  margin: 2em;
}

.img-col {
  width: 100%;
}

.hero-img {
  width: 100%;
  height: auto;
}

.inner-container {
  padding: 4em 3em;
}

.first-title {
  font-weight: 200;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 10.83px;
  color: #CE9898;
  margin-top: 0px;
  margin-bottom: 0px;
}

.snd-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 12.83px;
  color: #423A3A;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
  margin-bottom: 15px;
}

.desktop-logo {
  display: none;
}

.intro {
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 32px;
  color: #CE9898;
}

form {
  display: flex;
  width: 100%;
  height: 48px;
  border: 1px solid rgba(206, 152, 152, 0.5);
  border-radius: 28px;
  background-color: transparent;
  align-items: center;
}

input {
  flex: 1;
  border: none;
  background-color: transparent;
  padding-left: 1.5em;

  font-weight: 200;
  font-size: 14px;
  line-height: 28px;
  vertical-align: center;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #CE9898;
  opacity: 50%;
}

button {
  position: relative;
  left: 2px;
  width: 64px;
  height: 48px;
  border: none;
  border-radius: 28px;
  background: linear-gradient(to bottom right, rgb(248, 191, 191), rgb(238, 139, 139));
  box-shadow: 0px 15px 20px rgb(198, 110, 110, 0.2476);
  align-items: center;
}

.arrow {
  margin: 0 auto;
  width: 8.84px;
  height: 17.67px;
}

.error {
  display: none;

  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.error-message {
  display: none;

  font-weight: 400;
  font-size: 13px;
  text-align: left;
  margin-left: 22px;
  margin-top: 5px;
  color: #F96464;
}

@media screen and (min-width: 1080px) {
  /* container background: images with linear-gradient over-layed */
  .container {
    flex-direction: row-reverse;
    height: 800px;
    max-width: 1440px;
    margin: 2em auto;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 244, 244, 0.3)), url('../images/bg-pattern-desktop.svg');
    background-size: contain;
  }

  .mobile-header {
    display: none;
  }

  .img-col {
    width: auto;
    height: 800px;
  }

  .hero-img {
    width: auto;
    height: 100%;
  }

  .desktop-logo {
    display: inline-block;
    width: 158px;
    height: 33px;
  }

  .inner-container {
    text-align: left;
    padding: 3em 15em 3em 7em;
  }

  .title {
    margin-top: 136px;
    margin-bottom: 32px;
  }

  .first-title {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 17.32px;
  }

  .snd-title {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.32px;
  }

  .intro {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  form {
    width: 100%;
    height: 56px;
  }

  .input {
    font-size: 16px;
  }

  /* Be careful: set the button to relative for hover effect */
  button {
    position: relative;
    width: 100px;
    height: 56px;
  }

  /* Desktop UI: button hover effect */
  button::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 28px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 15px 20px rgb(198, 110, 110, 0.2476);
  }

  button:hover::before {
    opacity: 1;
  }

  .error-message {
    margin-top: 10px;
  }
}